.idea/
*.iml
.vscode/
*.pyc
*.tar.gz
*.tgz
*.tar
*.zip
*.egg-info/
*.DS_Store
.python-version
.pytest_cache/
.version
.tox/
.env
__pycache__
venv/
ansible_install.log
*.whl
.coverage
coverage
build
dist
poetry.lock
logs/
data/

.venv/
.venv_310/
time_series/data

.docker_temp_*
.*.swp
